*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */

h1 {
  font-weight: bold;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.typing_container__test {
  letter-spacing: 1.5px;
  line-height: 1.5em;
}

.typing_container__textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.typing_container__speed,
.typing_container__accuracy {
  font-size: 1.5rem;
}

strong {
  font-weight: 800;
  font-size: 2rem;
  display: block;
}

/* Layout */

.typing_container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
  display: grid;
  grid-template: 80px repeat(2, 1fr) 50px 150px / 1fr 250px;
  grid-template-areas:
    "title title"
    "test speed"
    "test accuracy"
    "start time"
    "textarea textarea";
}

.typing_container__title {
  grid-area: title;
  justify-self: center;
  align-self: center;
}

.typing_container__test {
  grid-area: test;
}

.typing_container__speed {
  grid-area: speed;
}

.typing_container__accuracy {
  grid-area: accuracy;
}

.typing_container__btn {
  grid-area: start;
  justify-self: start;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  background-color: orangered;
  color: whitesmoke;
  padding: 0.5em 2em;
}

.typing_container__btn:hover,
.typing_container__btn:focus {
  background-color: #ff591b;
}

.typing_container__time {
  grid-area: time;
}

.typing_container__textarea {
  grid-area: textarea;
}

.typing_container__speed,
.typing_container__accuracy,
.typing_container__time {
  justify-self: center;
  align-self: center;
  text-align: center;
}
